:root {
  /* text-color */
  --primary-text-color: #4F5665;
  --second-text-color: #0B132A;
  --accent-color: #F53855;
  /* button-color */
  --button-accent-color: #FFFFFF;
  --backgound-button-color: #F53838;
  --button-text-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: #FFFFFF;
  color: var(--primary-text-color);
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.43;
  color: var(--second-text-color);
}

.section-title--center {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.section-text--center {
  width: 555px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.section-text {
  line-height: 1.87;
  color: var(--primary-text-color);
}

.header {
  padding-top: 50px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.logo__icon {
  margin-right: 10px;
  width: 35px;
  height: 36px;
}

.header-nav__list {
  display: flex;
}

.header-nav__item {
  margin-right: 40px;
}

.header-nav__link {
  font-size: 16px;
  line-height: 1.19;
  color: var(----primary-text-color);
  transition: color 150ms linear;
}

.header-nav__link:focus, .header-nav__link:hover {
  color: var(--accent-color);
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons__item {
  margin-right: 30px;
}

.header-buttons__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-text-color);
  transition: color 150ms linear;
}

.header-buttons__button:focus, .header-buttons__button:hover {
  color: var(--accent-color);
}

.header-buttons__button--red {
  position: relative;
  padding: 13px 45px;
  color: var(--accent-color);
  border: 1px solid #F53855;
  border-radius: 50px;
  transition: color 200ms linear, background-color 200ms linear, box-shadow 200ms linear;
}

.header-buttons__button--red:focus, .header-buttons__button--red:hover {
  color: var(--button-accent-color);
  background-color: var(--backgound-button-color);
  box-shadow: 0 15px 20px -5px #f53838;
}

.hero {
  padding-top: 90px;
}

.hero-container {
  display: flex;
}

.hero-left {
  width: 555px;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  color: var(--second-text-color);
}

.hero__text {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.hero__text span {
  font-weight: 500;
  color: var(--primary-text-color);
}

.hero__button {
  padding: 18px 78px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.56;
  color: var(--button-text-color);
  background-color: #F53838;
  border-radius: 10px;
  transition: box-shadow 200ms linear;
}

.hero__button:focus, .hero__button:hover {
  box-shadow: 0 15px 20px -5px #f53838;
}

.statistic {
  position: relative;
  padding-top: 105px;
}

.statistic-container::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #0D1025;
  opacity: 0.06;
  filter: blur(114px);
  border-radius: 10px;
}

.statistic-list {
  display: flex;
  justify-content: space-between;
  padding: 37px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.statistic-list__item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-right: 2px solid #EEEFF2;
  padding: 33px 91px;
}

.statistic-list__item:last-child {
  border: none;
}

.statistic-list__icon {
  width: 55px;
  height: 55px;
  margin-right: 37px;
}

.statistic-box__text {
  display: flex;
  flex-direction: column;
}

.statistic-box__text--bold {
  display: block;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.20;
  color: var(--second-text-color);
}

.statistic-box__text--normal {
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.features {
  padding: 96px 0 130px 0;
}

.features-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.features-right {
  width: 400px;
}

.section-title--margin {
  margin-bottom: 20px;
}

.section-text--margin {
  margin-bottom: 20px;
}

.features-list__item {
  display: flex;
  align-items: center;
}

.features-list__item:not(:last-child) {
  margin-bottom: 15px;
}

.features-list__text {
  margin-left: 12px;
}

.plan {
  background-color: #FBFBFB;
  padding: 80px 0 150px 0;
}

.plan-list {
  display: flex;
  justify-content: space-around;
}

.plan-list__item {
  display: flex;
  flex-direction: column;
  padding: 60px 70px 50px;
  background-color: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  transition: border-color 200ms linear;
}

.plan-list__item:focus, .plan-list__item:hover {
  border-color: #F53838;
}

.plan-list__img {
  margin: 0 auto;
  margin-bottom: 30px;
}

.plan-list__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  color: var(--second-text-color);
}

.plan-services {
  margin-bottom: 50px;
  flex-grow: 1;
}

.plan-services__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.plan-services__text {
  margin-left: 20px;
  font-size: 14px;
  line-height: 2.14;
  color: var(--primary-text-color);
}

.plan-list__text {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.plan-list__button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: var(--backgound-button-color);
  padding: 13px 63px;
  border: 2px solid #F53838;
  border-radius: 50px;
  transition: color 200ms linear, background-color 200ms linear, box-shadow 200ms linear;
}

.plan-list__button:focus, .plan-list__button:hover {
  color: var(--button-text-color);
  background-color: var(--backgound-button-color);
  box-shadow: 0 15px 20px -5px #f53838;
}

.network {
  background-color: #FBFBFB;
  padding-bottom: 120px;
}

.network-link {
  display: block;
  margin-bottom: 100px;
}

.network-link__img {
  margin: 0 auto;
}

.network-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews {
  background-color: #FBFBFB;
  padding-bottom: 60px;
}

.reviews-list {
  display: flex;
  margin-bottom: 30px;
}

.reviews-list__item {
  width: 400px;
  padding: 20px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  transition: border-color 200ms linear;
}

.reviews-list__item:focus, .reviews-list__item:hover {
  border-color: #F53838;
}

.reviews-list__item:not(:last-child) {
  margin-right: 30px;
}

.reviews-link {
  display: flex;
  align-items: center;
}

.reviews-link__img {
  margin-right: 20px;
}

.reviews-info__text {
  font-size: 14px;
  line-height: 1.2;
}

.reviews-info__text--medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
}

.reviews-list__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.87;
}

.reviews-rating {
  margin-left: auto;
}

.reviews-rating__text {
  background: url(../img/icon/rating-icon.svg) right no-repeat;
  padding-right: 20px;
}

.review-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-dot {
  display: inline-flex;
}

.slider-dot__item:not(:last-child) {
  margin-right: 15px;
}

.slider-dot__icon {
  fill: #DDE0E4;
  transition: fill 150ms linear;
}

.slider-dot__icon:focus, .slider-dot__icon:hover {
  fill: #F53838;
}

.slider-arrow {
  display: flex;
}

.slider-arrow__item:not(:last-child) {
  margin-right: 20px;
}

.slider-arrow__icon {
  fill: #DDE0E4;
  transition: fill 150ms linear;
}

.slider-arrow__icon:focus, .slider-arrow__icon:hover {
  fill: #F53838;
}

.subscribe {
  padding: 59px 0;
  background-color: #FBFBFB;
}

.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 59px 70px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.subscribe-box__title {
  width: 371px;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.29;
  color: var(--second-text-color);
}

.subscribe-box__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.subscribe-button {
  padding: 18px 70px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.56;
  color: var(--button-text-color);
  background-color: #F53838;
  border-radius: 10px;
  transition: box-shadow 200ms linear;
}

.subscribe-button:focus, .subscribe-button:hover {
  box-shadow: 0 15px 20px -5px #f53838;
}

.footer {
  padding: 63px 0 100px 0;
  background-color: #FBFBFB;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-left {
  width: 340px;
}

.footer-left__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.footer-left__text span {
  font-weight: 500;
}

.footer-social {
  display: flex;
  margin-top: 30px;
}

.footer-social__item:not(:last-child) {
  margin-right: 20px;
}

.footer-social__icon {
  width: 34px;
  height: 34px;
  fill: #DDE0E4;
  transition: fill 150ms linear;
}

.footer-social__icon:focus, .footer-social__icon:hover {
  fill: #F53838;
}

.copyright-text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.87;
  color: #AFB5C0;
}

.footer-right {
  display: flex;
}

.footer-links:not(:last-child) {
  margin-right: 126px;
}

.footer-links__text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  color: var(--second-text-color);
}

.footer-links__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-links__link {
  line-height: 1.87;
  color: var(--primary-text-color);
  transition: color 150ms linear;
}

.footer-links__link:focus, .footer-links__link:hover {
  color: #F53838;
}
/*# sourceMappingURL=main.css.map */