:root {
    /* text-color */
    --primary-text-color: #4F5665;;
    --second-text-color: #0B132A;
    --accent-color: #F53855;

    /* button-color */
    --button-accent-color: #FFFFFF;
    --backgound-button-color: #F53838;
    --button-text-color: #FFFFFF;

}