.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.43;
    color: var(--second-text-color);
}

.section-title--center {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.section-text--center {
    width: 555px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}