.network {
    background-color: #FBFBFB;
    padding-bottom: 120px;
}
.network-link {
    display: block;
    margin-bottom: 100px;
}

.network-link__img {
    margin: 0 auto;
}

.network-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
